<form class="new-post">
  <label> Title
    <input type="text" name="post[title]" value="<%= post.escape('title') %>">
  </label>

  <label> Body
    <textarea name="post[body]"><%= post.escape('body') %></textarea>
  </label>

  <input type="submit">
</form>
